<h2>Assignments</h2>
<div id="show_assign">
  <a href="/api/assignments" id="assign_link">Show all assignments</a>
  <ul id="all_assign">

  </ul>
  
  <ul id="assign_content">
    
  </ul>
</div>

<h2>Resources</h2>
<div id='show_resource'>
  <a href="/api/resources" id="resource_link">Show all resources</a>
  <ul id="all_resource">
  
  </ul>  
</div>

<div id='show_contrib'>
  <ul id="all_contrib">
  
  </ul>  
</div>