<!doctype html>
<html>
  
  <head>
    <title>Assignment Tracker Project</title>
    
    <script type='text/javascript' src='global.js'></script>
  </head>
  <body>
    <header>
      
    </header>
    
    <%= yield %>
    
  </body>
  
</html>