<!-- <h1>Change Format</h1>

<p>Please ensure the contribution is not tied to any games before you change it!</p>

<form action="/contribution_change_in_database">
<!This form lists each contribution currently in the database, as well as allows for input
  for the new contribution name.  It returns both the id, named "contribution[change_id]", and the new
  contribution name, called "contribution[new_name]".  Sends a call to the "/contribution_change_in_database"
  receiver -->
  <!-- <select name="contribution[change_id]">
    <% @contribution.each do |contribution| %>
      <option value="<%= contribution.id %>"><%= contribution.name %></option>
    <% end %>
  </select>

  <input type="text" placeholder="New Format Name" name="contribution[new_name]">

  <button type="submit">Change this Format</button>

</form>

-->

<p><a href="/home">Go to home page</a></p>