<h1>Add Classmate</h1>

  <p>Please fill out the form to add a classmate</p>
<!--This form allows for input for a new classmate.  It returns the new classmate name, called "classmate[name]". Sends a call to the "/classmate_add_to_database" receiver -->
  <form action="/classmate_add_to_database">
    <input type="text" placeholder="Classmate Name" name="classmate[name]">
    
    <button type="submit">Add Classmate</button>
  </form>

<p><a href="/home">Go to home page</a></p>