<h1>Assignment Manager</h1>


<ul>
  <li><a href='/assignment/view'>View Assignments</a></li>
  <li><a href='/assignment/add'>Add a Assignment</a></li>
  <li><a href='/assignment/edit'>Edit a Assignment</a></li>
  <li><a href='/assignment/delete'>Delete a Assignment</a></li>
</ul>

<p><a href="/home">Go to home page</a></p>