<h1>Classmate Manager</h1>


<ul>
  <li><a href='/classmate/view'>View Classmates</a></li>
  <li><a href='/classmate/add'>Add a Classmate</a></li>
  <li><a href='/classmate/edit'>Edit a Classmate</a></li>
  <li><a href='/classmate/delete'>Delete a Classmate</a></li>
</ul>

<p><a href="/home">Go to home page</a></p>