<h1>Contribution Manager</h1>


<ul>
  <li><a href='/contribution/view'>View Contributions</a></li>
  <li><a href='/contribution/add'>Add a Contribution</a></li>
  <li><a href='/contribution/edit'>Edit a Contribution</a></li>
  <li><a href='/contribution/delete'>Delete a Contribution</a></li>
</ul>

<p><a href="/home">Go to home page</a></p>