<h1>Welcome to Assignment Manager</h1>
<h3>Pick a submenu for navigation</h3>

<ul>
  <li><a href='/assignment'>Assignments</a></li>
  <li><a href='/classmate'>Classmates</a></li>
  <li><a href='/resource'>Resources</a></li>
  <li><a href='/contribution'>Contributions</a></li>
</ul>