<h1>Welcome to Assignment Manager</h1>
<h3>Pick a submenu for navigation</h3>

<ul>
  <li><a href='/assignment'></a>Assignments</li>
  <li><a href='/classmate'></a>Classmates</li>
  <li><a href='/resource'></a>Resources</li>
  <li><a href='/contributions'></a>Contributions</li>
</ul>