<h1>Resource Manager</h1>


<ul>
  <li><a href='/resource/view'>View Resources</a></li>
  <li><a href='/resource/add'>Add a Resource</a></li>
  <li><a href='/resource/edit'>Edit a Resource</a></li>
  <li><a href='/resource/delete'>Delete a Resource</a></li>
</ul>

<p><a href="/home">Go to home page</a></p>