<h1>Resource Manager</h1>


<ul>
  <li><a href='/resource/view'></a>View Resources</li>
  <li><a href='/resource/add'></a>Add a Resource</li>
  <li><a href='/resource/edit'></a>Edit a Resource</li>
  <li><a href='/resource/delete'></a>Delete a Resource</li>
</ul>